@font-face {
    font-family: "AtkinsonHyperlegibleNext-WebFont";
    font-display: swap;
    font-style: normal;
    src: url("https://webfont.psychreview.su/AtkinsonHyperlegibleNext[wght].woff2") format("woff2-variations");
}

@font-face {
    font-family: "AtkinsonHyperlegibleNext-WebFont";
    font-display: swap;
    font-style: italic;
    src: url("https://webfont.psychreview.su/AtkinsonHyperlegibleNext-Italic[wght].woff2") format("woff2-variations");
}

@font-face {
    font-family: "AtkinsonHyperlegibleMono-WebFont";
    font-display: swap;
    font-style: normal;
    src: url("https://webfont.psychreview.su/AtkinsonHyperlegibleMono[wght].woff2") format("woff2-variations");
}

@font-face {
    font-family: "AtkinsonHyperlegibleMono-WebFont";
    font-display: swap;
    font-style: italic;
    src: url("https://webfont.psychreview.su/AtkinsonHyperlegibleMono-Italic[wght].woff2") format("woff2-variations");
}
