@font-face {
    font-family: "Cantarell-WebFont";
    font-display: swap;
    src: url("https://webfont.psychreview.su/Cantarell-VF.otf") format("opentype-variations");
}

@font-face {
    font-family: DroidSansMono-WebFont;
    font-display: swap;
    src: url("https://webfont.psychreview.su/DroidSansMono.ttf");
}
